# Binaries
**/bin/
bin-int/

# Trout files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Directories
Trout/vendor/VulkanSDK
Troutnut/assets/cache
scripts/__pycache__